POSTGRES_DB=comics_db
POSTGRES_USER=comic
POSTGRES_PASSWORD=comic

SPRING_JPA_SHOW_SQL=true

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true

APP_MAIL_FROM=comix.universe.website
APP_RESET_CODE_EXPIRATION_MINUTES=10
APP_RESET_MAX_ATTEMPTS=5

OCRSPACE_API_KEY=
OCRSPACE_MONTHLY_REQUEST_LIMIT=25000

GCP_TRANSLATION_PROJECT_ID=
GCP_TRANSLATION_LOCATION=global
GCP_TRANSLATION_MONTHLY_CHAR_LIMIT=500000
GCP_TRANSLATION_ESTIMATED_CHARS_PER_PAGE=3500

AUTOTRANSLATION_DEBUG=false